{% extends 'layouts/arqonz_updated_layout.html.twig' %}

{% block content %}

<div class="NotFound-Main" style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
    <!-- <a href="https://arqonz.com/">
        <img src="/static/icons/404-ERROR.svg" style="width:100%" alt="">
    </a> -->

    <div style="text-align: center; font-family: Arial, sans-serif; padding: 50px 20px; max-width: 600px; margin:50px 0px;">
        <h1 style="font-size: 64px; font-weight: 500; color: #333; margin-bottom: 20px;">Oops!</h1>
        <p style="font-size: 24px; color: #333; margin-bottom: 20px;">Something went wrong here.</p>
        <p style="font-size: 16px; color: #666; line-height: 1.5;">
        We're working on it and we'll get it fixed as soon as possible.<br>
        You can back or use our Help Center.
        </p>
    </div>

</div>

{% endblock %}