<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Arqonz</title>
    <link rel="stylesheet" href="/static/css/Architects-landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="/static/images/Arqonz-logo-icon.png" type="image/x-icon">
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "pdbk7ipfis");
    </script>


</head>
<body>
    <div id="main">
        <section id="Herosection">
            <div class="headerGap">

            </div>
            <div class="heroimage">
                <p class="HeroText1">hello <span>...</span></p>
                <img src="/static/files/ArchitectLanding/assets/hero1.png" alt="">
                <p class="herotext2">i'm vidya.</p>

                <div class="Herobuttons">
                    <a href="https://arqonz.com/">Architect</a>
                    <a href="https://arqonz.com/">Designer</a>
                </div>
                
                <div class="headerdescwrapper">
                    <p class="HeaderDescription">I have joined ArQonZ construction ecosystem to structure my business and Enhance my workflow , so I can live life to its potential.</p>
                </div>
                
                
                <div class="UnlockTrue">
                    <p class="unlockhead">Unlock your true productivity.</p>
                    <div class="unlockimages">
                        <img src="/static/files/ArchitectLanding/assets/Endorsement.png" alt="">
                        <img src="/static/files/ArchitectLanding/assets/BOQUpload.png" alt="">
                        <img src="/static/files/ArchitectLanding/assets/AQIQ.png" alt="">
                        <img src="/static/files/ArchitectLanding/assets/Enquiries.png" alt="">
                        <img src="/static/files/ArchitectLanding/assets/ProjectShowcase.png" alt="">
                    </div>

                    <div class="ArchitectButton">
                        <a href="https://arqonz.com/" class="ArchitectButtonLink">Register</a>
                    </div>

                    <div class="JoinArqonz">
                        <p>Join ArQonZ now before anyone else.</p>
                    </div>

                    <div class="UnlockyourbusinessSection">
                        <div class="UnlockyourbusinessWrapper">
                            <div class="UnlockYourbusinessimg">
                                <img src="/static/files/ArchitectLanding/assets/unlock-your-business.png" alt="" class="UnlockyourBusinessposter">
                            </div>

                            <div class="Unlockourbusinessrow2">
                                <div class="UnlockourText"><span class="Primarycolor">Subscribe</span> With Arqonz to Unlock the Full Potential of Your Business and Take it to the Next Level!</div>
                                <div class="Arqonzhereforyou">
                                    <img src="/static/files/ArchitectLanding/assets/here-for-you.png" alt="">
                                </div>
                            </div>

                            <div class="Unlockyourbusinessrow3">
                                <p class="unlockbusinessR2Text Primarycolor">Beat Your Competition</p>
                                <p class="unlockbusinessR1Text">Stay In the <span class="SpecialSpotlight">Spotlight</span></p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="brandSectiopnWrapper">
                        <div class="wrapper">
                            <div class="boxes">
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand1.png" alt="TATA Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand2.png" alt="Google Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand3.png" alt="Kantar Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand4.png" alt="Paytm Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand5.png" alt="brand Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand6.png" alt="brand Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand7.png" alt="brand Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand8.png" alt="brand Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand9.png" alt="brand Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand10.png" alt="brand Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand11.png" alt="brand Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand12.png" alt="brand Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand13.png" alt="brand Logo"></div>
                                <div class="box"><img class="brandlogo" src="/static/files/ArchitectLanding/assets/Brands/Brand14.png" alt="brand Logo"></div>
                                
                            </div>
                        </div>
                    </div>

                    <script>
                        //   Brands Corosel

                        // Colors for the boxes
                        // var colors = ["#f38630", "#6fb936", "#ccc", "#6fb936"];

                        // Initially position each box and apply colors
                        gsap.set(".box", {
                            // backgroundColor: (i) => colors[i % colors.length],
                            x: (i) => i * 200 // Adjusted for 200px width of each box
                        });

                        gsap.to(".box", {
                            duration: 3, // Adjusted for smoother movement with larger boxes
                            ease: "none",
                            x: "+=200", // Move each box 800px to the right (width of all 4 boxes)
                            modifiers: {
                                x: gsap.utils.unitize(x => parseFloat(x) % 2800) // Loop within 800px range
                            },
                            repeat: -1,
                            repeatRefresh: true,
                            // repeatDelay: 1
                        });


                        //toggle overflow
                        const overflow = document.querySelector("#overflow");
                        overflow.addEventListener("change", applyOverflow);

                        function applyOverflow() {
                        if(overflow.checked) {
                            gsap.set(".wrapper", {overflow: "visible"});
                        } else {
                            gsap.set(".wrapper", {overflow: "hidden"});
                        }
                        }
                        // Brands Corosel ends
                    </script>

                    <div class="Whyshould">
                        <h2>Why Should You Join Arqonz</h2>
                        <div class="whyshouldboxes">
                            <div class="WhyShouldLeftBoxes">
                                <div class="WhyShouldBOX">
                                    <div class="WhyShouldIconSection">
                                        <div class="whyshouldCircle"></div>
                                        <img src="/static/files/ArchitectLanding/assets/WhyShouldIcons/Expertise.png" alt="">
                                    </div>

                                    <div class="WhyShouldContentSection">
                                        <h3>Post Your Expertise</h3>
                                        <p>We embrace and celebrate creativity in all its forms, constantly pushing boundaries to deliver unique and captivating design solutions.</p>
                                    </div>
                                </div>


                                <div class="WhyShouldBOX">
                                    <div class="WhyShouldIconSection">
                                        <div class="whyshouldCircle"></div>
                                        <img style="top: 27px; width: 31px; left: 25px;" src="/static/files/ArchitectLanding/assets/WhyShouldIcons/hassles.png" alt="">
                                    </div>

                                    <div class="WhyShouldContentSection">
                                        <h3>No More Hassles</h3>
                                        <p>We operate with honesty, transparency, and integrity, building strong and trusted relationships with our clients based on open communication and ethical practices.</p>
                                    </div>
                                </div>

                                <div class="WhyShouldBOX">
                                    <div class="WhyShouldIconSection">
                                        <div class="whyshouldCircle"></div>
                                        <img style="top: 27px; width: 34px; left: 25px;" src="/static/files/ArchitectLanding/assets/WhyShouldIcons/bidmanagement.png" alt="">
                                    </div>

                                    <div class="WhyShouldContentSection">
                                        <h3>Organized Bid Management</h3>
                                        <p>We operate with honesty, transparency, and integrity, building strong and trusted relationships with our clients based on open communication and ethical practices.</p>
                                    </div>
                                </div>

                            </div>


                            <div class="WhyShouldRightBoxes">
                                <div class="WhyShouldBOX">
                                    <div class="WhyShouldIconSection">
                                        <div class="whyshouldCircle"></div>
                                        <img style="top: 27px; width: 34px; left: 25px;" src="/static/files/ArchitectLanding/assets/WhyShouldIcons/seamless-procurement.png" alt="">
                                    </div>

                                    <div class="WhyShouldContentSection">
                                        <h3>Seamless Procurement</h3>
                                        <p>We believe in the power of collaboration and work closely with our clients to understand their vision and goals, ensuring that our designs align with the objectives.</p>
                                    </div>
                                </div>


                                <div class="WhyShouldBOX">
                                    <div class="WhyShouldIconSection">
                                        <div class="whyshouldCircle"></div>
                                        <img style="top: 27px; width: 30px; left: 25px;" src="/static/files/ArchitectLanding/assets/WhyShouldIcons/focus-matters.png" alt="">
                                    </div>

                                    <div class="WhyShouldContentSection">
                                        <h3>Focus on What Matters</h3>
                                        <p>We stay at the forefront of design trends and technologies, constantly seeking new ways to innovate and create designs that are modern, fresh, and impactful.</p>
                                    </div>
                                </div>

                                <div class="WhyShouldBOX">
                                    <div class="WhyShouldIconSection">
                                        <div class="whyshouldCircle"></div>
                                        <img style="top: 27px; width: 41px; left: 25px;" src="/static/files/ArchitectLanding/assets/WhyShouldIcons/direct-connections.png" alt="">
                                    </div>

                                    <div class="WhyShouldContentSection">
                                        <h3>Direct Connections</h3>
                                        <p>We stay at the forefront of design trends and technologies, constantly seeking new ways to innovate and create designs that are modern, fresh, and impactful.</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    
                
                    <div class="HomepageSliderCoroselSection">
                        <div class="slider">
                            <div class="slide"><img src="/static/images/HomeSlider/NO-ONE.jpg" alt=""></div>
                            <div class="slide"><img src="/static/images/HomeSlider/Are-You-Looking-For.jpg" alt=""></div>
                            <div class="slide"><img src="/static/images/HomeSlider/Untitled-design.jpg" alt=""></div>
                        </div>
                    
                        <!-- Navigation Buttons -->
                        <div class="buttons">
                            <button data-navigate="prev">←</button>
                            <div class="indicators"></div>
                            <button data-navigate="next">→</button>
                        </div>
                    
                        <!-- Slide Indicators -->
                        
                    </div>
                
                    
                
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            // Variables
                            const $slider = $(".slider");
                            const $slides = $(".slide");
                            const $indicators = $(".indicators");
                            const totalSlides = $slides.length;
                            let activeIndex = 0;

                            // Create indicators dynamically
                            for (let i = 0; i < totalSlides; i++) {
                                $indicators.append(`<div class="dot" data-slide="${i}"></div>`);
                            }

                            const $dots = $(".dot");

                            // Show slide by index
                            function show(slideIndex, animation = true) {
                                // Adjust for circular navigation
                                if (slideIndex < 0) {
                                    slideIndex = totalSlides - 1;
                                } else if (slideIndex >= totalSlides) {
                                    slideIndex = 0;
                                }

                                // Skip animation if moving to the same slide
                                if (animation && slideIndex === activeIndex) return;

                                const isNext = slideIndex > activeIndex || (activeIndex === totalSlides - 1 && slideIndex === 0);
                                let previousSlideIndex = activeIndex;

                                // Update active index
                                activeIndex = slideIndex;

                                const $prevSlide = $slides.eq(previousSlideIndex);
                                const $currentSlide = $slides.eq(slideIndex);

                                // GSAP Timeline
                                let timeline = gsap.timeline();

                                // Hide all slides
                                timeline.to($slides, { scaleX: 0.8, opacity: 0, rotateY: 0, zIndex: 1 }, 0);

                                if (isNext) {
                                    // If moving to the next slide
                                    timeline.addLabel("stage1", 0);
                                    timeline.to(
                                        $prevSlide,
                                        {
                                            opacity: 1,
                                            zIndex: 2,
                                            rotateY: "90deg",
                                            x: "-80%"
                                        },
                                        "stage1"
                                    );

                                    timeline.to($currentSlide, { zIndex: 3, opacity: 1, rotateY: 0 }, "stage1");
                                    timeline.addLabel("stage2");
                                    timeline.to(
                                        $prevSlide,
                                        {
                                            scaleX: 1.1,
                                            scaleY: 0.8,
                                            rotateY: 0,
                                            x: 0,
                                            opacity: 1
                                        },
                                        "stage2"
                                    );
                                    timeline.fromTo(
                                        $currentSlide,
                                        { scaleX: 0.8, scaleY: 0.8 },
                                        { scaleX: 1, scaleY: 1 },
                                        "stage2"
                                    );
                                } else {
                                    // If moving to the previous slide
                                    timeline.addLabel("stage1", 0);
                                    timeline.to(
                                        $prevSlide,
                                        {
                                            opacity: 1,
                                            zIndex: 2,
                                            rotateY: "-90deg",
                                            x: "80%"
                                        },
                                        "stage1"
                                    );

                                    timeline.to($currentSlide, { zIndex: 3, opacity: 1, rotateY: 0 }, "stage1");
                                    timeline.addLabel("stage2");
                                    timeline.to(
                                        $prevSlide,
                                        {
                                            scaleX: 1.1,
                                            scaleY: 0.8,
                                            rotateY: 0,
                                            x: 0,
                                            opacity: 1
                                        },
                                        "stage2"
                                    );
                                    timeline.fromTo(
                                        $currentSlide,
                                        { scaleX: 0.8, scaleY: 0.8 },
                                        { scaleX: 1, scaleY: 1 },
                                        "stage2"
                                    );
                                }

                                // Update indicators
                                $dots.removeClass("active");
                                $dots.eq(slideIndex).addClass("active");
                            }

                            // Show the first slide and activate the first dot
                            show(activeIndex, false);

                            // Button navigation
                            $("[data-navigate]").click(function () {
                                const isNext = $(this).data("navigate") === "next";
                                show(activeIndex + (isNext ? 1 : -1));
                            });

                            // Dot navigation
                            $dots.click(function () {
                                const slideIndex = $(this).data("slide");
                                show(slideIndex);
                            });
                        });
                    </script>
                </div>

                <div class="OutOfBusiness">
                    <p class="OOBTitle"><span class="Primarycolor">You are out of</span> business?</p>

                    <video autoplay muted loop>
                        <source src="static/files/ArchitectLanding/assets/out-of-business.mp4" type="video/mp4">
                        <!-- Optional fallback for older browsers -->
                        Your browser does not support the video tag.
                    </video>

                    <p class="OOBBottom">IF YOU ARE NOT <br><span class="Primarycolor">AVAILABLE ON SEARCH</span></p>

                    <div class="ArchitectButton">
                        <a href="https://arqonz.com/" class="ArchitectButtonLink">Register</a>
                    </div>
                </div>


            </div>
        </section>

        <section class="HowCanArqonzHelp">
            
            
            <div class="ArqonzHelpWrapper">
                <h2>How Can ArQonZ help you?</h2>
                <p class="SectionDescription">Discover . Match . Evaluvate . Transact</p>
                <div class="ArqonzHelpRow1">
                    <div class="ArqonzHelpLeftBox">
                        <img class="ArqonzhelpIcon" src="static/files/ArchitectLanding/assets/DescribeYour.svg" alt="">
                        <h3 class="ArqonzhelpTitle">Describe your Profile</h3>
                        <p class="ArqonzhelpDescription">Use ArQonZ to list out and organise your profile and Projects. Let many others Discover your works and favourite your work.</p>
                        <div class="ArqonzhelpRegisterLink">
                            <a href="https://arqonz.com/" class="ArqonzHelpLeftRegister">Register <span><img src="static/files/ArchitectLanding/assets/>.svg" alt=""></span></a>
                        </div>
                    </div>

                    <div class="ArqonzHelpRightBox">
                        <img class="ArqonzhelpIcon" src="static/files/ArchitectLanding/assets/Budgeting.svg" alt="">
                        <h3 class="ArqonzhelpTitle">Budgeting</h3>
                        <p class="ArqonzhelpDescription">Plan your budgeting with the Instant quotation with ArQonZ module.</p>
                        <div class="ArqonzhelpRegisterLink">
                            <a href="https://arqonz.com/" class="ArqonzHelpLeftRegister">Register <span><img src="static/files/ArchitectLanding/assets/>.svg" alt=""></span></a>
                        </div>
                    </div>
                </div>

                <div class="ArqonzHelpRow2">
                    <div class="ArqonzHelpLeftBox">
                        <img class="ArqonzhelpIcon" src="static/files/ArchitectLanding/assets/Productivity.svg" alt="">
                        <h3 class="ArqonzhelpTitle">Productivity</h3>
                        <p class="ArqonzhelpDescription">Get more done with Pinpoint planning and Organisation.</p>
                        <div class="ArqonzhelpRegisterLink">
                            <a href="https://arqonz.com/" class="ArqonzHelpLeftRegister">Register <span><img src="static/files/ArchitectLanding/assets/>.svg" alt=""></span></a>
                        </div>
                    </div>

                    <div class="ArqonzHelpRightBox">
                        <img class="ArqonzhelpIcon" src="static/files/ArchitectLanding/assets/lifestyle.svg" alt="">
                        <h3 class="ArqonzhelpTitle">Lifestyle and Personal Development</h3>
                        <p class="ArqonzhelpDescription">Use the tools on ArQonZ and enjoy a better lifestyle.</p>
                        <div class="ArqonzhelpRegisterLink">
                            <a href="https://arqonz.com/" class="ArqonzHelpLeftRegister">Register <span><img src="static/files/ArchitectLanding/assets/>.svg" alt=""></span></a>
                        </div>
                    </div>
                </div>
                <div class="ArqonzHelpRow3">
                    <div class="ArqonzHelpLeftBox">
                        <img class="ArqonzhelpIcon" src="static/files/ArchitectLanding/assets/Productivity.svg" alt="">
                        <h3 class="ArqonzhelpTitle">Endorsements</h3>
                        <p class="ArqonzhelpDescription">Let people recommend and endorse you for the work that you have done.</p>
                        <div class="ArqonzhelpRegisterLink">
                            <a href="https://arqonz.com/" class="ArqonzHelpLeftRegister">Register <span><img src="static/files/ArchitectLanding/assets/>.svg" alt=""></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="AYLF">
                <div class="AYLFLeft">
                    <img src="/static/files/ArchitectLanding/assets/AYLF.png" alt="Are you Looking For">
                </div>

                <div class="AYLFRight">
                    <p class="OOBBottom">Are You Looking For <br><span class="Primarycolor">The Construction Eco- System ?</span></p>
                    <div class="ArchitectButton">
                        <a href="https://arqonz.com/" class="ArchitectButtonLink">Register</a>
                    </div>
                </div>
            </div>
            
        </section>

        <section id="mytoppicks">
            <div class="SectionHeader">
                <h2>My Top Picks</h2>
                <p>With templates ranging from productivity, finance management and personal development, I do it here.</p>
            </div>

            <div class="TopPickFeatures">
                <div class="TopPickRow1">
                    <div class="Toppickbox">
                        <div class="TopPickBoxHeader">
                            <img src="/static/files/ArchitectLanding/assets/Profile-of-Architect.png" alt="">
                        </div>

                        <div class="TopPicBoxtitle">
                            <h3>Profile of architect</h3>
                            <p>Portfolio</p>
                        </div>

                        <div class="TopPicBoxDescription">
                            <p>Designed for students, it streamlines task 
                                management, progress tracking, and 
                                scheduling, all in one intuitive platform.
                            </p>
                        </div>

                    </div>


                    <div class="Toppickbox">
                        <div class="TopPickBoxHeader">
                            <img src="/static/files/ArchitectLanding/assets/EndorsementFrame.png" alt="">
                        </div>

                        <div class="TopPicBoxtitle">
                            <h3>Endorsements</h3>
                            <p>Productivity</p>
                        </div>

                        <div class="TopPicBoxDescription">
                            <p>Organize your thoughts, ideas and tasks in one 
                                place.
                            </p>
                        </div>

                    </div>


                    <div class="Toppickbox">
                        <div class="TopPickBoxHeader">
                            <img src="/static/files/ArchitectLanding/assets/Projects-Showcase.png" alt="">
                        </div>

                        <div class="TopPicBoxtitle">
                            <h3>Projects showcase</h3>
                            <p>Projects</p>
                        </div>

                        <div class="TopPicBoxDescription">
                            <p>Effortless budgeting and expense tracking, 
                                giving you financial clarity.
                            </p>
                        </div>

                    </div>
                </div>


                <section class="DeserveSpotlight">
                    <div class="Spodlightwrapper">
                        <div class="DSPLeft">
                            <p class="DSPLeftTop">YOUR PROFILE</p>
                            <p class="DSPmiddle">DESERVES</p>
                            <p class="DSPBottom">To Stay in the <span class="DSPSpl">Spotlight</span></p>
                            <img src="/static/files/ArchitectLanding/assets/Deserve-spotlight.png" alt="">
                        </div>
        
                        <div class="DSPRight">
                            <img src="/static/files/ArchitectLanding/assets/DSPRight.png" alt="">
                        </div>
                    </div>
                </section>


                <div class="TopPickRow1">
                    <div class="Toppickbox">
                        <div class="TopPickBoxHeader">
                            <img src="/static/files/ArchitectLanding/assets/BOQ-uploading.png" alt="">
                        </div>

                        <div class="TopPicBoxtitle">
                            <h3>BOQ Uploading</h3>
                            <p>E-Negotiation</p>
                        </div>

                        <div class="TopPicBoxDescription">
                            <p>An all-in-one solution for Getting Things Done.
                            </p>
                        </div>

                    </div>


                    <div class="Toppickbox">
                        <div class="TopPickBoxHeader">
                            <img src="/static/files/ArchitectLanding/assets/Enquiries-top-picks.png" alt="">
                        </div>

                        <div class="TopPicBoxtitle">
                            <h3>Enquiries</h3>
                            <p>Leads</p>
                        </div>

                        <div class="TopPicBoxDescription">
                            <p>The ultimate tool for setting, tracking, and 
                                achieving your goals.
                            </p>
                        </div>

                    </div>


                    <div class="Toppickbox">
                        <div class="TopPickBoxHeader">
                            <img src="/static/files/ArchitectLanding/assets/AQ-IQ.png" alt="">
                        </div>

                        <div class="TopPicBoxtitle">
                            <h3>AQ - IQ</h3>
                            <p>AI</p>
                        </div>

                        <div class="TopPicBoxDescription">
                            <p>Streamline your daily planning. Enhance your 
                                productivity, mindfulness, and organization.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div class="WhatisGoal">
            <img src="/static/files/ArchitectLanding/assets/what-is-goal.png" alt="">
        </div>

        



        <section id="TheArconzCollection">
            <div class="ArqonzCollectionWrapper">
                <div class="ArqonzCollectionheader">
                    <h2>The Arqonz Collection</h2>
                    <a href="https://arqonz.com/" class="CollectionRegister">Register</a>
                </div>
                

                <div class="ArqonzCOllectionCont">
                    <img src="/static/files/ArchitectLanding/assets/EndorsementFrame.png" alt="" class="one">
                    <img src="/static/files/ArchitectLanding/assets/Projects-Showcase.png" alt="" class="two">
                    <img src="/static/files/ArchitectLanding/assets/BOQ-uploading.png" alt="" class="three">
                    <img src="/static/files/ArchitectLanding/assets/Enquiries-top-picks.png" alt="" class="four">
                    <img src="/static/files/ArchitectLanding/assets/AQ-IQ.png" alt="" class="five">
                </div>
            </div>
        </section>

        <section id="TestimonialsSection">
            <div class="SectionHeader">
                <h2>Testimonials</h2>
                <p>A quick few words from my customers.</p>
            </div>

            <div class="TestimonialsWrapper">
                <div class="Testimonial">
                    <div class="testiheader">
                        <div class="ProfileImage">
                            <img src="static/files/ArchitectLanding/assets/profile.jpeg" alt="">
                        </div>
                        <div class="TestiNameDesign">
                            <h3>Dr. K.Saravanan</h3>
                            <p>Senior Vice President</p>
                        </div>
                    </div>

                    <div class="Starrating">
                        <img src="static/files/ArchitectLanding/assets/StarRating.svg" alt="">
                        <img src="static/files/ArchitectLanding/assets/StarRating.svg" alt="">
                        <img src="static/files/ArchitectLanding/assets/StarRating.svg" alt="">
                        <img src="static/files/ArchitectLanding/assets/StarRating.svg" alt="">
                        <img src="static/files/ArchitectLanding/assets/StarRating.svg" alt="">
                    </div>

                    <div class="testiMain">
                        <p>Its an interesting tool to save the time of my purchase head.</p>
                    </div>
                    <div class="Slider1">
                        <div class="slider23">

                        </div>
                    </div>
                </div>


                <div class="Testimonial">
                    <div class="testiheader">
                        <div class="ProfileImage">
                            <img src="static/files/ArchitectLanding/assets/profile.jpeg" alt="">
                        </div>
                        <div class="TestiNameDesign">
                            <h3>Ms.Durga Satish Kumar</h3>
                            <p>MD</p>
                        </div>
                    </div>

                    <div class="Starrating">
                        <img src="static/files/ArchitectLanding/assets/StarRating.svg" alt="">
                        <img src="static/files/ArchitectLanding/assets/StarRating.svg" alt="">
                        <img src="static/files/ArchitectLanding/assets/StarRating.svg" alt="">
                        <img src="static/files/ArchitectLanding/assets/StarRating.svg" alt="">
                        <img src="static/files/ArchitectLanding/assets/StarRating.svg" alt="">
                    </div>

                    <div class="testiMain">
                        <p>I am happy that I have onboarded with ArQonZ. It supports my organisation in its HR and Purchase Requirements.</p>
                    </div>
                </div>
            </div>


            <div class="RelaxSection">
                <div class="RelaxStyletext">
                    <p class="RelaxMain">RELAX</p>
                    <p class="RelaxNext">E - Negotiate in ArQonZ<br> 
                        Save time and energy</p>
                </div>
                <img src="/static/files/ArchitectLanding/assets/relaximage.png" alt="">
            </div>


            <!-- <div class="offerssection">
                <a href="https://arqonz.com/">
                    <img src="/static/files/ArchitectLanding/assets/Surface.png" alt="">
                </a>    
            </div> -->

            <div class="registration-container" style="background-color: #222; color: white; padding: 40px; border-radius: 8px; max-width: 800px; margin: 0 auto; text-align: center; margin-bottom: 50px;">
                <h1 style="font-size: 32px; margin-bottom: 10px;">If you can relate to ANY of the points below,</h1>
                <h2 style="color: #e6a756; font-size: 36px; margin-top: 10px; margin-bottom: 40px;">You're Invited to Register</h2>
                
                <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; text-align: left; margin-bottom: 40px;">
                <div style="display: flex; align-items: center; font-size: 24px;">
                    <span style="display: inline-flex; align-items: center; justify-content: center; background-color: #4CAF50; color: white; border-radius: 50%; width: 24px; height: 24px; margin-right: 10px;">✓</span>
                    Communication Issues
                </div>
                <div style="display: flex; align-items: center; font-size: 24px;">
                    <span style="display: inline-flex; align-items: center; justify-content: center; background-color: #4CAF50; color: white; border-radius: 50%; width: 24px; height: 24px; margin-right: 10px;">✓</span>
                    Managing Teams
                </div>
                <div style="display: flex; align-items: center; font-size: 24px;">
                    <span style="display: inline-flex; align-items: center; justify-content: center; background-color: #4CAF50; color: white; border-radius: 50%; width: 24px; height: 24px; margin-right: 10px;">✓</span>
                    Client Expectations
                </div>
                <div style="display: flex; align-items: center; font-size: 24px;">
                    <span style="display: inline-flex; align-items: center; justify-content: center; background-color: #4CAF50; color: white; border-radius: 50%; width: 24px; height: 24px; margin-right: 10px;">✓</span>
                    Time Management
                </div>
                <div style="display: flex; align-items: center; font-size: 24px;">
                    <span style="display: inline-flex; align-items: center; justify-content: center; background-color: #4CAF50; color: white; border-radius: 50%; width: 24px; height: 24px; margin-right: 10px;">✓</span>
                    Regulatory Compliance
                </div>
                <div style="display: flex; align-items: center; font-size: 24px;">
                    <span style="display: inline-flex; align-items: center; justify-content: center; background-color: #4CAF50; color: white; border-radius: 50%; width: 24px; height: 24px; margin-right: 10px;">✓</span>
                    Budget Constraints
                </div>
                <div style="display: flex; align-items: center; font-size: 24px; grid-column: span 2;">
                    <span style="display: inline-flex; align-items: center; justify-content: center; background-color: #4CAF50; color: white; border-radius: 50%; width: 24px; height: 24px; margin-right: 10px;">✓</span>
                    Finding the Right Supplier
                </div>
                </div>
                
                <a href="/account/register" style="display: block; background-color: black; color: white; padding: 20px; text-decoration: none; font-size: 28px; border-radius: 6px; border: 2px solid #8b5cf6; margin: 0 auto; max-width: 700px;">Register Now for Rs.500/- Registration fee Annually</a>
            </div>


            


            <div class="FrequentlyAskedQuestions">
                <h2>Frequently Asked Questions</h2>
                <div class="FAQWrapper">
                    
                    <div class="FAQLeftCOL">
                        <div class="FAQele">
                            <div class="FAQquestion">
                                <p>What is ArQonZ for Architects?</p>
                                <div class="FAQOpenIco">
                                    <img src="/static/files/ArchitectLanding/assets/plus-symbol.png" alt="">
                                </div>
                            </div>
                            <div class="FAQanswer">
                                <p>Arqonz is designed for architects, offering a comprehensive construction ecosystem that enhances project efficiency, collaboration, and access to essential infrastructure services.</p>
                            </div>
                        </div>

                        <div class="FAQele">
                            <div class="FAQquestion">
                                <p>What industries does ArQonZ serve?</p>
                                <div class="FAQOpenIco">
                                    <img src="/static/files/ArchitectLanding/assets/plus-symbol.png" alt="">
                                </div>
                            </div>
                            <div class="FAQanswer">
                                <p>ArQonZ serves the construction and infrastructure industry, connecting professionals like architects, builders, consultants, interior designers, engineers, and construction product suppliers to enhance collaboration and efficiency.</p>
                            </div>
                        </div>

                        <div class="FAQele">
                            <div class="FAQquestion">
                                <p>How can I connect with professionals?</p>
                                <div class="FAQOpenIco">
                                    <img src="/static/files/ArchitectLanding/assets/plus-symbol.png" alt="">
                                </div>
                            </div>
                            <div class="FAQanswer">
                                <p>Connect with architects, builders, consultants, interior designers, engineers, and construction product suppliers effortlessly on Arqonz, a comprehensive construction ecosystem tailored for construction and infrastructure professionals.</p>
                            </div>
                        </div>

                        <div class="FAQele">
                            <div class="FAQquestion">
                                <p>Why should architect join ArQonZ?</p>
                                <div class="FAQOpenIco">
                                    <img src="/static/files/ArchitectLanding/assets/plus-symbol.png" alt="">
                                </div>
                            </div>
                            <div class="FAQanswer">
                                <p>Architect should join ArQonZ to access a vast network of industry professionals, enhance their market reach, and benefit from seamless interactions with architects, builders, consultants, interior designers, and engineers.</p>
                            </div>
                        </div>

                        <div class="FAQele">
                            <div class="FAQquestion">
                                <p>What tools enhance productivity?</p>
                                <div class="FAQOpenIco">
                                    <img src="/static/files/ArchitectLanding/assets/plus-symbol.png" alt="">
                                </div>
                            </div>
                            <div class="FAQanswer">
                                <p>Arqonz enhances productivity with tools like centralized project management, real-time collaboration features, and comprehensive resource management for construction and infrastructure professionals</p>
                            </div>
                        </div>

                        

                    </div>

                    <div class="FAQRightCOL">
                        <div class="FAQele">
                            <div class="FAQquestion">
                                <p>How does ArQonZ promote innovation?</p>
                                <div class="FAQOpenIco">
                                    <img src="/static/files/ArchitectLanding/assets/plus-symbol.png" alt="">
                                </div>
                            </div>
                            <div class="FAQanswer">
                                <p>ArQonZ promotes innovation by providing a collaborative platform that fosters the exchange of ideas, resources, and cutting-edge technologies among architects, builders, consultants, interior designers, engineers, and construction product suppliers.</p>
                            </div>
                        </div>

                        <div class="FAQele">
                            <div class="FAQquestion">
                                <p>How does ArQonZ ensure ethical connections?</p>
                                <div class="FAQOpenIco">
                                    <img src="/static/files/ArchitectLanding/assets/plus-symbol.png" alt="">
                                </div>
                            </div>
                            <div class="FAQanswer">
                                <p>ArQonZ ensures ethical connections by implementing strict verification processes, maintaining transparent practices, and fostering a trustworthy environment for construction and infrastructure professionals.</p>
                            </div>
                        </div>

                        <div class="FAQele">
                            <div class="FAQquestion">
                                <p>What is AQ-IQ technology?</p>
                                <div class="FAQOpenIco">
                                    <img src="/static/files/ArchitectLanding/assets/plus-symbol.png" alt="">
                                </div>
                            </div>
                            <div class="FAQanswer">
                                <p>AQ-IQ technology is an advanced feature of ArQonZ that leverages AI and data analytics to provide intelligent insights and optimize workflows for architects, builders, consultants, interior designers, engineers, and construction product suppliers</p>
                            </div>
                        </div>

                        <div class="FAQele">
                            <div class="FAQquestion">
                                <p>What support does ArQonZ offer?</p>
                                <div class="FAQOpenIco">
                                    <img src="/static/files/ArchitectLanding/assets/plus-symbol.png" alt="">
                                </div>
                            </div>
                            <div class="FAQanswer">
                                <p>ArQonZ offers comprehensive support including technical assistance, project management tools, and personalized guidance to ensure success for architects, builders, consultants, interior designers, engineers, and construction product suppliers.</p>
                            </div>
                        </div>

                        <div class="FAQele">
                            <div class="FAQquestion">
                                <p>How does ArQonZ ensure sustainability?</p>
                                <div class="FAQOpenIco">
                                    <img src="/static/files/ArchitectLanding/assets/plus-symbol.png" alt="">
                                </div>
                            </div>
                            <div class="FAQanswer">
                                <p>ArQonZ ensures sustainability by integrating eco-friendly practices, promoting sustainable materials, and fostering collaboration among professionals to reduce environmental impact in the construction industry.</p>
                            </div>
                        </div>

                    </div>




                </div>
            </div>

            <script>
                // Import GSAP
                document.addEventListener("DOMContentLoaded", () => {
                    const openIcons = document.querySelectorAll(".FAQOpenIco");

                    openIcons.forEach(icon => {
                        icon.addEventListener("click", () => {
                            const faqElement = icon.closest(".FAQele");
                            const answer = faqElement.querySelector(".FAQanswer");
                            
                            // Close all other answers
                            document.querySelectorAll(".FAQanswer.open").forEach(openAnswer => {
                                if (openAnswer !== answer) {
                                    gsap.to(openAnswer, { height: 0, opacity: 0, duration: 0.3, onComplete: () => openAnswer.classList.remove("open") });
                                }
                            });

                            // Toggle current answer
                            if (answer.classList.contains("open")) {
                                gsap.to(answer, { height: 0, opacity: 0, duration: 0.3, onComplete: () => answer.classList.remove("open") });
                                answer.style.display = "none";
                            } else {
                                answer.style.display = "block"; // Ensure the element is block for GSAP height calculation
                                const contentHeight = answer.scrollHeight; // Get the actual height
                                gsap.fromTo(answer, { height: 0, opacity: 0 }, { height: contentHeight, opacity: 1, duration: 0.5, onComplete: () => answer.classList.add("open") });
                            }
                        });
                    });
                });
            </script>

            <div class="vidoContainer">
                <a href="https://arqonz.com/">
                    <video autoplay muted loop>
                        <source src="static/files/ArchitectLanding/assets/JUAT.mp4" type="video/mp4">
                        <!-- Optional fallback for older browsers -->
                        Your browser does not support the video tag.
                    </video>
                </a>
            </div>

            <!-- <div class="Endingimage">
                <img src="/static/files/ArchitectLanding/assets/hand-shake.png" alt="">
            </div> -->

            <div class="ArchitectButton">
                <a href="https://arqonz.com/" class="ArchitectButtonLink">Register</a>
            </div>

            
        </section>

        <div class="footerSection">
            <div class="FooterLogoWrapper">
                <img src="/static/files/ArchitectLanding/assets/ARQONZ-footer-black.png" alt="">
            </div>
            <div class="copyrightvs">
                <p>Copyright @ 2024</p>
            </div>
            <div class="footerterms">
                <p>This site is  a part of the ArQonZ™ . Additionally, This site is NOT endorsed by any social media in any way. ArQonZ global pvt ltd™ is a trademark of
                    FACEBOOK™, Inc. As stipulated by law, we can not and do not make any guarantees about your ability to get results or earn any money with our ideas, information,
                    tools, or strategies. I just want to help you by giving great content, direction, and strategies that worked well for us and that we believe can help you
                    move forward. All of our terms, privacy policies, and disclaimers for this program and website can be accessed via the links. we feel transparency is important and 
                    we hold ourselves (you & me) to a high standard of integrity. Thanks for stopping by. I hope this training and content brings you a lot of value & results.</p>
            </div>

        </div>
    </div>
</body>
</html>
