{% extends 'layouts/arqonz_updated_layout.html.twig' %}

{% block content %}
<link rel="stylesheet" href="/static/css/ArqonzWebsite-Pages.css">

<div class="About-herosection">
    <img class="HeroBackgroundimg" src="/static/images/About-background-min.jpeg" alt="">
    <div class="TextContainer">
        <h2>Terms And Conditions</h2>
        {# <h6>About us</h6> #}
    </div>
</div>

<div class="Single">
    {# <div class="imgcontainer">
        <img src="/static/images/singlesource.png" alt="">
    </div> #}



    <div class="TermsTextContainer">
        <h2>Service User Agreement</h2>
        <p>The Service provided by ARQONZ GLOBAL PVT LTD are provided  subject to the Service User Agreement set out below which should be read in conjunction with our privacy policy and our web site Terms and Conditions (together referred to as Terms and Conditions) By using the service  a user agrees to be bound by the company’s Terms and Conditions. If you disagree with any part of the Service User Agreement or any part of the Terms and Conditions you must not use the website or the services. These terms expressly supersede  prior agreements with you.</p>

        <h3>Modifications to Terms and Conditions and privacy policy</h3>
        <p>ARQONZ Global Services Private Limited reserves the right, in its sole discretion, to change, modify, or otherwise amend the Terms of Use, and any other documents incorporated by reference herein for complying with legal and regulatory framework and for other legitimate business purposes, at any time, and ARQONZ will post the amended Terms of Use at the domain of www.arqonz.com/terms. It is your responsibility to review the Terms of Use for any changes and you are encouraged to check the Terms of Use frequently. Your use of the Website following the date that amendments to the Terms of Use take effect will signify your assent to and acceptance of any revised Terms of Use. If you do not agree to abide by these or any future Terms of Use, please do not use or access the Website.</p>
        
        <h3>1. Definitions</h3>

        <p><b>Company means</b>: ARQONZ GLOBAL PVT.,LTD., incorporated under the Companies Act,1956 having its registered office at IIT Research Park, Kanagam, Indian Institute Of Technology, Chennai, Tamil Nadu- 600036 including where the context so allows, its shareholders, employees, affiliates, associated and contracted persons, companies or businesses supplying services to the company.</p>
        <p><b>Privacy Policy</b> means: The Company’s Privacy Policy as amended from time to time as referred to in clause 5  of this Service User Agreement.</p>
        <p><b>Service(s) means</b>: the services, procedures and information provided by the company.</p>
        <p><b>Service Partner means</b>: Architects, Engineers, Builders, Engineering contractors, interior designers, Civil Engineering Contractors and non professionals (specifically called handy buddy) that and part of company’s network of service partner.  (person, persons, company, companies who are in business to construct, build, alter, acquire, convert, improve, design, erect, establish, equip, develop, dismantle, pull down, furnish, level, decorate, fabricate install, finish, repair, operate, protect, promote provide, participate reconstruct. grout, dig, excavated, landscaping, gardening, remodel, innovate, rebuild, undertake, contribute, assist and to act as civil engineers, architectural engineers, interior decorators, consultants/advisors, supervisors, administrators, contractors, turnkey contractors and all types of constructions and developmental activities in all its branches such as multi storied ,colonies, complex, housing projects and non-professional (herein specifically called handy buddy.)</p>
        <p><b>Terms and conditions means</b>:  this service user agreement, the company’s website terms and conditions and the privacy policy.</p>
        <p><b>Third party or Third parties means</b>: Person, persons, company or companies, websites or any other business or enterprise referred to in the context of the terms and conditions as being other than the company or a service partner or a user.</p>
        <p><b>Website</b> means: The web space ,pages and the contents and graphics contained in such space or pages which are under the editorial control of authorized members of the company.</p>

        <h3>2.General Disclaimer</h3>

        <p>2.1 The  use of the services is not intended to and does not create service partner /user relationship between  a service partner/user. Establishment of service partner/user relationship must occur the outside the scope of this service.</p>
        <p>2.2 The company does not guarantee and is not responsible or liable for the quality of accuracy of any advice or any service or any work produced by the service partner.</p>
        <p>2.3 The company cannot accept any liability in respect of any contract or other agreement entered into between the user and the service partner and accordingly shall not be liable to the user for any dispute, act or omission resulting from any dealings between the user and the service partner or for any loss of any kind suffered by the user in respect of such agreement howsoever arising.</p>
        <p>2.4 The company relies on the information provided by Users and Service partner but does not warrant the validity or accuracy or any such information.</p>
        <p>2.5 The company provides no guarantee that a service partner provided with the user information will contact the user or will accept instructions from the user.</p>
        <p>2.6 Whilst the company does carry out certain verifications checks on service partner it does not guarantee any service partners accreditations, certifications, creditworthiness or registrations nor the validity or application of any documentation or information provided to it in support of the company’s verification checks.</p>
        <p>2.7 The company does not guarantee that any such documentation or information is valid or applicable to the user or service at the time that service is undertaken by the service partner.</p>
        <p>2.8 Information about a service partner provided by the company is provided on the understanding that the Company does not assume or undertake any responsibility, to you, or those affected ,if you choose to take into account when instructing a service partner.</p>
        <p>2.9 Further and alternatively the company does not accept any liability to any person or company or other legal entity for any financial loss and or damage arising from the use of information provided by the company or from any failure of the company to give information.</p>
        
        <h3>3.User Responsibilities</h3>

        <p>3.1 The user solely responsible for selection of service partner and negotiating any service to be performed by the service partner they have instructed.</p>
        <p>3.2 The user is responsible for providing true, accurate, current and complete information when providing details to the company.</p>
        <p>3.3 The user is solely responsible for avoiding the disclosure of any privileged and /or specific information when using the service. Users should describe their issues in general terms only.</p>
        <p>3.4 The user is responsible for ensuring that  the service partner has all the relevant information required in order to undertake their service that all the information the service partner has about the user is accurate.</p>
        <p>3.5 The user is responsible for satisfying themselves of the credentials  and creditworthiness of any service partner before proceeding to instruct them  or paying any money to them.</p>
        
        <h3>4.PAYMENT</h3>

        <p>4.1 The company provides the service to users on collection of nominal service fee from the user.</p>
        <p>4.2 The service partner pay a referral fee to the company for the services provided to them such as advertisement and marketing costs, obtaining information about and quotation monitoring and reporting, performance management and delivery to agreed service levels. This fee may be calculated as a percentage of the users referral fees (excluding disbursements and GST or equivalent) which is typically   %. The service partner will not charge this fees to the user.</p>
        <p>4.3 The company is not responsible for and will not be liable for any fees charged or instructed by the service partner in relation to their service</p>
        <p>4.4 ARQONZ will, on your behalf, generate an invoice for the services provided by you to the user. The invoice will be raised in your name and sent to the user via ARQONZ platform and/or any other mode of communication. The user shall pay the fees to the service partner through Razor pay via ARQONZ platform and  on  the same date, the fees  will be settled to the service  partner through PAY PAL-cash free service.</p>

        <h3>5. Disclosure of user Information by the company</h3>

        <p>5.1 The user agrees that by providing user information to the company, that they are willfully providing their user information in an attempt to initiate contact with one or more service partner.</p>
        <p>5.2 The user agrees to the company disclosing the user information to one or more service partner in order to provide the services.</p>
        <p>5.3 The user irrevocably agrees that the company has the right to seek and obtain the service status fee information from the service partner at any time.</p>
        <p>5.4 By accepting this service user agreement, the user expressly consents to uses and disclosures of user information as set out in the company’s privacy policy which is incorporated herein by reference.</p>

        <h3>6. LIMITATION OF LIABILITY</h3>

        <p>6.1 The user agrees that, except for death and personal injury arising from the company’s negligence, the company shall not be liable in contract, negligence, statutory duty  or otherwise ,for any loss or damage whatsoever arising from or, in any way connected with the services, including but not limited to damage for loss of business, loss of profits, business interruption, loss of business information, loss of data, or any other pecuniary loss(even where the company has been advised of the possibility of such loss or damage).</p>
        <p>6.2 Users release, acquit and forever discharge the company ,its directors, officers, employees and share any and all claims demands and losses, injuries and liability or damage of any kind and nature, whether known or unknown, suspected or unsuspected disclosed or undisclosed, arising out of or in any way contacted with the service ,any disclosure resulting from your use of the service, any conflict of interest, ethical violation, or any alleged malpractice arising out of any users use of the service.</p>
        <p>6.3 The company does not and cannot be involved in user’s dealings with a service partner the user hereby releases the company(and its agents and employees) from any and all claims ,demand and damages (actual  and consequential} of every kind and nature known or unknown, suspected unsuspected, disclosed or undisclosed arising out of or  in any way connected with such disputes.</p>
        <p>6.4 The company does not represent that the information contained in the website or in any communication for the company, including but not limited to telephone conversations, e-mails, and letters, is accurate, verified, current, comprehensive, or complete. They could contain inaccuracies, typographical, human and/or machine errors or omissions. The company will not be liable in any circumstances for any direct, indirect, consequential, or special damages arising from use of the website or services of the company.</p>
        <p>6.5 Without limiting the generality of clause of this service users agreement or any of the foregoing, users agree not to hold the company responsible for any damages or other liabilities arising from the service of the service partner or failure or to provide any service rendered by them.</p>
        <p>6.6 Save as expressly set out herein, all conditions, warranties, and obligations which may be implied or incorporated into this service user agreement by statute, common law, or otherwise, and any liabilities arising there are hereby expressly excluded to the extent permitted by law.</p>
        <p>6.7 Without limiting any of the foregoing, the company shall have no liability for any failure or delay resulting from any matter beyond the company’s reasonable control.</p>

        <h3>7. Accounts</h3>

        <p>7.1 You must be at least 18 years of age, to obtain an Account, unless a specific Service permits otherwise. Account registration requires you to submit to ARQONZ’s certain personal information, such as your name, address, mobile phone number and age, as well as valid government issued identification and trade licences (if applicable), government approvals allowing you to offer your services, and/or requisite tax registrations. You agree to maintain accurate, complete, and up-to-date information in your Account at all times and you acknowledge that failure to do so shall result in your access to the Services being suspended without notice to you.</p>
        <p>7.2 No person other than yourself has the right to access your account. You agree and acknowledge that you will not allow any other person to access and use your account and that you will not share your login credentials (i.e. your user name and password) with any other person. If it is reasonably suspected by ARQONZ that you have shared your login credentials or allowed a person other than yourself to access and use your Account, your access to the Account will be suspended without notice to you. In cases where it is established that you have allowed a person other than yourself to access and use your Account, these Terms will stand terminated and your access to the Services will be permanently revoked without notice to you.</p>
        <p>7.3 You may only possess one Account. If it is found that you possess multiple Accounts on the ARQONZ Platform, your access to all Accounts on the ARQONZ Platform will be permanently revoked without notice.</p>
        <p>You hereby expressly acknowledge and agree that you and not ARQONZ will be liable for your losses and damages (whether direct or indirect) caused by unauthorized use of your Account. Notwithstanding the foregoing, you may be liable for the losses of ARQONZ or others due to such unauthorized use.</p>
        <p>You acknowledge that your continued use of the Services is subject to you maintaining a minimum ratings threshold. The ratings threshold for your particular category and your particular city will be communicated to you either through the ARQONZ Platform or via text message or by an ARQONZ employee in your city. If your ratings fall below the minimum threshold your access to the ARQONZ platform will be temporarily blocked. In the event your ratings fall below the prescribed threshold and your access to the Services is temporarily blocked, you will be required to attend a training session to reactivate.</p>  

        <h3>8. Text Messaging</h3>   

        <p>By creating an Account, you agree that the Services may send you text messages as part of the normal business operation of your use of the Services. You consent to receiving such text messages and acknowledge that any steps taken by you to not receive such text messages will affect your use of the Services.</p>
        
        <h3>9. Refund of Referral Fee</h3>

        <p>9.1 If a User cancels a request for your services after acceptance of the said request by you and payment of the Referral Fee, the Referral Fee will be refunded to you.</p>
        <p>9.2 The Referral Fee may also be refunded to you in cases where the User is not available at the location or the time for which the service request is placed.</p>
        <p>9.3 If you cancel a request placed by a User after accepting such a request, ARQONZ shall be at liberty to determine whether or not to refund the Referral Fee to you. You agree that in cases where ARQONZ determines that the Lead Fee is not required to be refunded to you due to your cancellation of an accepted request placed by a User, you will relinquish the right to make any claims for refund of the Referral Fee.</p>

        <h3>10. Network Access and Devices</h3>

        <p>You are responsible for obtaining the data network access necessary to use the Services. Your mobile network’s data and messaging rates and fees may apply if you access or use the Services from a wireless-enabled device and you shall be responsible for such rates and fees. You are responsible for acquiring and updating compatible hardware or devices necessary to access and use the Services and Applications and any updates thereto. ARQ0NZ does not guarantee that the Services, or any portion thereof, will function on any particular hardware or devices. In addition, the Services may be subject to malfunctions and delays inherent in the use of the Internet and electronic communications.</p>
        
        <h3>No Discrimination</h3>
        <p>ARQONZ prohibits discrimination against other service providers or users based on race, religion, caste, national origin, disability, sexual orientation, sex, marital status, gender identity, age or any other characteristic protected under applicable law. Such discrimination includes, but is not limited to, any your refusal to provide services based on any of these characteristics. If it is found that you have violated this prohibition you will lose access to the ARQONZ platform. Applicable laws in certain jurisdictions may require and/or allow the provision of services by and for the benefit of a specific category of persons.</p>

        <h3>12.Suspension and Termination</h3>

        <p>12.1 ARQONZ may restrict you from accessing or using the Services, or any part of them, immediately, without notice, in circumstances where ARQONZ reasonably suspects that: you have, or are likely to, breach these Terms, and/or you do not, or are likely not to, qualify, under applicable law or the standards and policies of ARQONZ and its affiliates, to access and use the Services.</p>
        <p>12.2 ARQONZ may terminate these Terms or any Services with respect to you, or generally cease offering or deny access to the Services or any portion thereof.</p>
        <p>12.3 Immediately, where ARQONZ reasonably suspects that: you have, or are likely to, materially breach these Terms, and/or you do not, or are likely not to, qualify, under applicable law or the standards and policies of ARQONZ and its affiliates, to access and use the Services; or where ARQONZ, acting reasonably, terminates these Terms or any Services for any legitimate business, legal, or regulatory reason.</p>
        <p>12.4 Without limiting its other rights under these Terms, ARQONZ may immediately restrict or deactivate your access to the Services if you breach the Privacy Policy and/or Community Guidelines (where applicable) at any time.</p>
        <p>12.5 You may terminate these Terms at any time, for any reason by informing ARQONZ either in writing or by visiting ARQONZ’s local city office of your decision to terminate.</p>

        <h3>13. Effect of Termination</h3>

        <p>13.1 Upon termination of these Terms, your right to participate in the ARQONZ Platform, including, but not limited to, your right to offer or purchase services and your right to receive any fees or compensation, including, without limitation, referral discounts, incentive bonuses, or other special offer rewards, shall automatically terminate. In the event of termination, your Account will be disabled and you may not be granted access to your Account or any files or other data contained in your Account. Notwithstanding the foregoing, residual data may remain in the ARQONZ system.</p>
        <p>13.2 Upon termination, the following shall occur: all licences granted to you hereunder will immediately terminate; and you shall promptly destroy all copies of ARQONZ data, Marks and other content in your possession or control. You further acknowledge and agree that ARQONZ shall not be liable to you or any third party for any termination of your access to the ARQONZ Platform. Upon termination, ARQONZ retains the right to use any data collected from your use of the ARQONZ Platform for internal analysis and archival purposes, and all related licenses you have granted ARQONZ hereunder shall remain in effect for the foregoing purpose. In no event is ARQONZ obligated to return any Service Partner Content to you. Any term which by its nature is intended to survive expiration or termination of these Terms shall survive expiration or termination of these Terms.</p>

        <h3>14. General</h3>

        <p>14.1 The company may amend this agreement at any time by posting the amended terms and conditions on the website.</p>
        <p>14.2 The user shall lawfully indemnify the company for any loss or damage suffered by the company for breach of these terms and conditions.</p>
        <p>14.3 Nothing in the said terms and conditions is intended to confer on any person any right to enforce any provision of these terms and conditions which that person would not have had but for the contracts THE INDIAN CONTRACT ACT, 1872 and subsequent legislation.</p>
        <p>14.4 Nothing in these terms and conditions for any reason be declared invalid by a court of competent jurisdiction, such determination shall not affect the validity of any remaining portion and such remaining portion shall remain in full force and effect as if the invalid portion of these terms and conditions has been eliminated.</p>
        <p>14.5 The terms and conditions shall be governed by and construed in accordance with Indian Law. Any dispute arising between the parties shall be attempted to be resolved by good faith discussions between the parties.</p>

        <h3>15. Dispute Resolution</h3>

        <p>15.1 Where the parties are unable to resolve disputes by good faith discussions within a period of 30 days from the date of written notice notifying the existence of such dispute, the dispute shall be submitted to arbitration in accordance with this section. This agreement and the rights and obligations of the parties shall remain in full force and effect pending the award in such arbitration proceeding.</p>
        <p>15.2 The Arbitration shall be governed by the Arbitration and Conciliation Act, 1996 (as applicable in India) for the time being in force, and/or any statutory modification or re-enactment thereof.</p>
        <p>15.3 The place and seat of arbitration shall be Chennai and the language of the arbitration shall be English.</p>
        <p>15.4 The arbitration shall be conducted by three (3) arbitrators. Each party shall appoint one arbitrator, and the two appointed arbitrators shall appoint a presiding arbitrator. In case the parties fail to appoint their respective arbitrators within thirty (30) days from the submission of the dispute for settlement through arbitration in accordance with section 15.1 above, or the two appointed arbitrators fail to appoint the presiding arbitrator within thirty (30) days from the date of appointment of the later of the first two arbitrators, a sole arbitrator shall be appointed in accordance with the Indian Arbitration Act, 1996 by the appropriate court of law.</p>
        <p>15.5 The award rendered shall be in writing and shall set forth the facts of the dispute and the reasons for the arbitrator’s decision. The award shall apportion the costs of the arbitration as the arbitrator deems fair.</p>

        
    </div>
</div>

{% endblock %}