<footer class="">
        <section id="footer">
            <div id="footersections">
                <div class="col2">
                    <div id="footer-logo">
                        <img id="" src="/static/images/Arqonz-NewLOGO.png" alt="Find Professionals for Construction">
                    </div>
                    <div id="footercontact">
                       <p>
Whether you're an architect in Chennai, a builder in Coimbatore, a civil engineer in Madurai, or an interior designer in Mysuru, ArQonZ connects you with a robust network of suppliers, professionals, and AI-powered tools like <strong>BOQ Quotes</strong>, <strong>e-negotiations</strong>, and the <strong>AQIQ AI Construction Assistant</strong>.
</p>
                        <p>Chennai, India</p>
                        <!-- <p>Call us: 0984453895</p> -->
                    </div>
                </div>
                
                    <div class="col3">
                        <h3>Explore</h3>
                        <li><a href="/architects">Architects</a></li>
                        
                        <li><a href="/builders">Builders</a></li>
                        
                        <li><a href="/contractors">Contractors</a></li>
                        
                        <li><a href="/designers">Designers</a></li>
                        
                        <li><a href="/engineers">Engineers</a></li>
                        
                        <li><a href="/manufacturers">Manufacturers</a></li>

                        <li><a href="/distributors">Distributors</a></li>
                    
                        <li><a href="/dealers">Dealers</a></li>

                        <li><a href="/retailers">Retailers</a></li>
                    
                    </div>
                    <div class="col3">
                        <h3>About</h3>
                        <li><a href="/about-us">About Us</a></li>

                        <li><a href="https://quboyd.com/">Careers</a></li>
                        
                        <!-- <li><a href="#">Press</a></li> -->
                        
                        <li><a href="/contact-us">Contact Us</a></li>
                        
                        <li><a href="/terms-and-conditions">Terms of Use</a></li>
                        
                        <li><a href="/privacy-policy">Privacy policy</a></li>

                        <li><a href="/blog">Blog</a></li>
                    </div>
                
                <div class="col3">
                    <h3>Coming Soon</h3>
                    <div id="downloadapple">
                        <img id="" src="{{ asset('/static/images/download-apple.png') }}" style="max-width:70%;" alt="Download Arqonz for Apple">
                    </div>
                    <div id="downlodandroid">
                        <img id="" src="{{ asset('/static/images/Download-android.png') }}" style="max-width:70%;"  alt="Download Arqonz for Android">
                    </div>
                </div>
            </div>
            <p class="copyrighttext">© Copyright © 2025 Arqonz | All Rights Reserved.</p>
        </section>
            
        </footer>